
/* Root elements */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
p {
    font-size: 1.3rem;
}

/* General elements */
#controls {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#nodeScreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: white;
    overflow: hidden;
}
.node-style {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 2rem;
    text-align: center;
    padding: 1.2rem;
    border-radius: 50%;
    border: 3px solid #525252;
    background-color: #d1d1d1;
}

#controls {
    margin: 1rem;
}
#results {
    font-size: 1.6rem;
}
